# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://ram312908_db_user:Ankit@cluster0.vg2zbcm.mongodb.net/Appzeto

# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_here_make_it_long_and_secure
JWT_EXPIRE=7d

# Other Configuration
CORS_ORIGIN=http://localhost:5173
